{% load flatpages %}
{% get_flatpages as flatpages %}
<head>
	<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}/style.less">
	<script src="{{ STATIC_URL }}/less.min.js" type="text/javascript"></script>
	
	<link rel="stylesheet" href="http://depts.washington.edu/uweb/inc/css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="http://depts.washington.edu/uweb/inc/css/footer.css" type="text/css" media="screen" />

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34234791-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>	
</head>

<body>
	<div class="nav">
		<ol>
            {% for page in flatpages %}
            {% if flatpage.url == page.url %}
			<li id="{% if page.url == '/' %}home{% else %}{{ page.url|cut:'/' }}{% endif %}" class="active-nav">{{ page.title }}</li>
            {% else %}
            <li id="{% if page.url == '/' %}home{% else %}{{ page.url|cut:'/' }}{% endif %}"><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li class="help">Need help? <a href="mailto:spacescouthelp@uw.edu">spacescouthelp@uw.edu</a></li>
		</ol>
	</div>

	<div class="main">
        {{ flatpage.content }}
	</div>

    <div id="footerMainNoPatch" class="logoYes wNo">
        <div id="footerLeft">    	
            <ul>
                <li class="logoArea"><a href="//www.washington.edu/" style="background-position: -24px 4px !important;">&#169; 2012 University of Washington</a></li>  
            </ul>
        </div>
        <div id="footerRight">  
            <ul>
                <li class="centerText"><a href="//www.seattle.gov/">Seattle, Washington</a></li>
            </ul>   
        </div>
        <div id="footerCenter">
            <ul>
                <li><a href="//www.washington.edu/home/siteinfo/form/">Contact Us</a></li>
                <li class="footerLinkBorder"><a href="//www.washington.edu/jobs/">Jobs</a></li>
                <li class="footerLinkBorder"><a href="//myuw.washington.edu/">My UW</a></li>
                <li class="footerLinkBorder"><a href="//www.washington.edu/online/privacy">Privacy</a></li>
                <li class="footerLinkBorder"><a href="//www.washington.edu/online/terms">Terms</a></li>
        </ul>
        </div>
    </div>


</body>
